<div class="search">Быстрый поиск: <input type="text" ng-model="q"></div>
<div class="registration-list">
  <div class="table">
    <table>
      <thead class="table-controls">
        <tr>
          <th class="num">#</th>
          <th class="name">ФИО <i class="ion-arrow-up-b"></i></th>
          <th class="master">Мастер</th>
          <th class="phone"><select ng-model="cur_type" ng-options="type for type in types" ng-change="changePhone()">
          </select></th>
          <th class="discount">Скидка</th>
          <th class="savings">Счет</th>
        </tr>
      </thead>
    </table>
      <div class="inner-table">
        <table>
          <tr class="entry link bouncy-slide-left" ng-repeat="client in clients | filter:q" ng-click="editUser(client)">
            <td class="num">{{$index+1}}</td>
            <td class="name">{{client.name}} {{client.surname}}</td>
            <td class="master"><div ng-repeat="master in client.masters">{{master}}</div></td>
            <td class="phone">{{client.phone[showphone].number}}
            <td class="discount">{{client.discount}}%</td>
            <td class="savings">{{client.savings}} сом</td>
            </td>
          </tr>
        </table>
      </div>
    </table>
  </div>
</div>