  <div class="add-client-form">
  <div class="client-card">
    <span class="fio">{{client.surname}} {{client.name}} {{client.patronymic}} <span ng-show="client.card_id">(# {{checkCard(client.card_id)}})</span></span>
    <i class="added ion-checkmark" ng-hide="active"></i>
    <i class="added ion-thumbsup" ng-show="updated"></i>
    <i class="added red-icon ion-close-circled" ng-show="removed"></i>
    <div class="birthday">Дата рождения: {{showBirthdayDate(birthday)}} </div>
    <fieldset>
    <legend>Контактные данные:</legend>
      <div>Телефон:</div>
      <ul>
        <li>{{client.phone[0].phonetype}} : {{client.phone[0].number}}</li>
        <li>{{client.phone[1].phonetype}} : {{client.phone[1].number}}</li>
      </ul>
      <div>Почта: <span class="email">{{client.email}}</span></div>
    </fieldset>
    <fieldset>
      <legend>Дисконтные данные:</legend>
      <div>Накопительный счет: {{client.savings}} сом</div>
      <div>Скидка: {{client.discount}}%</div>
    </fieldset>
    <fieldset>
      <legend>Постоянный мастер(а):</legend>
      <ul>
        <li ng-repeat="master in client.masters">{{master}}</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Дополнительные данные:</legend>
      <ul>
        <li ng-repeat="service in client.services">{{service.service_type}} : {{service.material}}</li>
      </ul>
    </fieldset>
  </div>
  <div class="input-form" ng-show="active" ng-hide="hideIt()">
    <div class="info">Поля помеченные * обязательны</div>
    <form ng-submit="saveClient()">
      <table>
        <tr>
          <td>Имя *:</td>
          <td><input type="text" ng-model="client.name" required></td>
        </tr>
        <tr>
          <td>Фамилия *:</td>
          <td><input type="text" ng-model="client.surname" required></td>
        </tr>
        <tr>
          <td>Отчество:</td>
          <td><input type="text" ng-model="client.patronymic"></td>
        </tr>
        <tr>
          <td>Номер карты:</td>
          <td><input type="number" ng-model="client.card_id" ng-value="client.card_id"></td>
        </tr>
        <tr>
          <td>Дата рождения *:</td>
          <td><input type="date" ng-model="birthday" ng-change="setBirthday()" ng-value="birthday" required></td>
        </tr>
        <tr>
          <td>Мобильный номер *:</td>
          <td><input type="tel" pattern="^\d{3}\d{3}\d{3}.*?$" placeholder="555312312" ng-model="mobilephone" ng-change="setPhone(0)" required></td>
        </tr>
        <tr>
          <td>Домашний номер:</td>
          <td><input type="tel" pattern="^\d{3}\d{3}\d{3}.*?$" placeholder="555312312" ng-model="homephone" ng-change="setPhone(1)"></td>
        </tr>
        <tr>
          <td>Почта:</td>
          <td><input type="email" ng-model="client.email"></td>
        </tr>
        <tr>
          <td>Накопительный счет:</td>
          <td><input type="number" ng-model="client.savings"></td>
        </tr>
        <tr>
          <td>Скидка</td>
          <td><input type="number" ng-model="client.discount" min="0" max="15" placeholder="Выданная с картой клиента"></td>
        </tr>
      </table>
      <div>Постоянный мастер: <div class="input-field"><select ng-model="clientmaster">
        <option value=""></option>
        <option ng-repeat="master in masters">{{master.name}} {{master.surname}}</option>
      </select><i title="Добавить мастера" ng-click="addMaster(clientmaster)" class="ion-ios7-plus"></i>
      <ul>
        <li ng-repeat="master in client.masters">{{master}}<i title="Убрать мастера" ng-click="removeMaster(master)" class="ion-minus-circled"></i></li>
      </ul>
      </div>
      </div>
      <div class="service">Добавить постоянный материал:
        <table>
          <tr>
            <td>Услуга:</td>
            <td><input type="text" ng-model="service.service_type"></td>
          </tr>
          <tr>
            <td>Материал:</td>
            <td><input type="text" ng-model="service.material"></td>
            
          </tr>
          <tr colspan="2">
            <td></td>
            <td><span class="addserivce" ng-click="addService()"><i class="ion-ios7-plus"></i> добавить</span></td>
          </tr>
        </table>
        <ul>
          <li ng-repeat="service in client.services track by $index">{{service.service_type}} : {{service.material}} <i class="ion-minus-circled" ng-click="removeService($index)"></i></li>
        </ul>

      </div>

      <button ng-show="formType()" type="submit">Добавить клиента</button>
      <button ng-hide="formType()" type="submit">Обновить данные</button>
    </form>
    <button ng-show="formType()" ng-click="cleanFields()">Очистить поля</button>
    <button ng-hide="formType()" class="red" ng-click="remove()">Удалить клиента</button>
  </div>
  <button ng-hide="active" ng-click="restart()">Добавить нового клиента</button>
</div>