<div class="view-controls">
  <div class="dates">C <input type="date" ng-model="begin" ng-change="showDate()"></div>
  <div class="dates"> по <input type="date" ng-model="end" ng-change="showDate()"></div>
  <i class="ion-ios7-search-strong" ng-click="find()"></i>
</div>
<div class="registration-list">
  <div class="table">
    <table>
      <thead class="table-controls">
        <tr>
          <th colspan="3">Приход</th>
          <th colspan="2">Расход</th>
        </tr>
        <tr>
          <th>#</th>
          <th>общий ( {{sum[0]}} )</th>
          <th>салон ( {{sum[1]}} )</th>
          <th>мастер ( {{sum[2]}} )</th>
          <th>материалы ( {{sum[3]}} )</th>
        </tr>
      </thead>
    </table>
      <div class="inner-table">
        <table>
          <tr class="entry link slide-right" ng-repeat="info in data">
            <td>{{$index+1}}</td> 
            <td>{{info.payed}}</td>
            <td>{{info.forSaloon}}</td>
            <td>{{info.masterIncome}}</td>
            <td>{{info.materials}}</td>
            </td>
          </tr>
        </table>
      </div>
  </div>
</div>