<div class="registration-list">
  <div class="table">
    <table>
      <thead class="table-controls">
        <tr>
          <th class="num">#</th>
          <th class="client">Клиент</th>
          <th class="type">Услуга</th>
          <th class="master">Мастер</th>
          <th class="time">Время</th> 
          <!-- <div class="list-controls"><i title="Добавить запись" class="ion-ios7-plus"></i></div> -->
        </tr>
      </thead>
    </table>
      <div class="inner-table">
        <table>
          <tr class="entry" ng-repeat="note in notes">
            <td class="num">{{$index+1}}</td>
            <td class="client">{{note.client.name}}</td>
            <td class="type">{{note.service}}</td>
            <td class="master">{{note.master.name}} {{note.master.surname}}</td>
            <td class="time">{{showTime(note.time)}}
              <div class="entry-controls" ng-show="oldDate">
                <a href="#/notes/edit/{{getId(note)}}"><i title="Редактировать" class="ion-ios7-compose edit"></i></a>
                <i title="Выполнено" class="ion-checkmark-circled"></i>
                <i title="Невыполнено/Удалить" class="ion-close-circled" ng-click="deleteNote(note)"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </table>
  </div>
</div>