<div class="note-form">
  <div class="header-date">Регистрация на: {{noteDate()}}
  <i class="added ion-checkmark" ng-show="active"></i>
  <i class="added ion-thumbsup" ng-show="updated"></i></div>
  <div class="registration">
    <table>
      <thead>
        <tr>
          <th>Клиент</th>
          <th>услуга</th>
          <th>Мастер</th>
          <th>Время и дата</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{client.name}} {{client.surname}}</td>
          <td>{{service}}</td>
          <td>{{master.name}} {{master.surname}}</td>
          <td>{{hours}}:{{mins(minutes)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form class="input-form" ng-submit="saveNote()" ng-hide="active">
    <div class="pick-client">
      <div class="search-client" ng-hide="unregister_client">
        <div>Клиент:</div> <input type="text" ng-model="register_client" ng-change="tryFind()" placeholder="Фамилия или Имя" required>
        <div class="list">
          <ul>
            <li ng-repeat="client in clientsFound" ng-click="setClient($index)">{{ client.name }} {{client.surname}}</li>
          </ul>
        </div>
      </div>
      <div class="unregister"><div>Не зарегистрированный клиент:</div> <input type="text" ng-model="unregister_client" placeholder="Имя Фамилия"><i class="ion-ios7-plus" ng-click="setUnregClient()" title="Добавить"></i></div>
    </div>
    <div class="pick-service">
      <div class="service"><div>Наименование услуги:</div><input type="text" ng-model="service"></div>
    </div>
    <div class="pick-master">
      <div>Мастер: </div> <input type="text" ng-model="findmaster" placeholder="Фамилия или Имя" required>
        <div class="list">
          <ul>
            <li ng-repeat="master in masters | filter:findmaster" ng-click="setMaster(master)">{{ master.name }} {{master.surname}}</li>
          </ul>
        </div>
    </div>
    <div class="pick-time">
      <div>Время:</div>
      <input type="number" min="8" max="21" ng-model="hours" ng-change="timeChange()" required>:
      <input type="number" min="0" max="59" ng-model="minutes" ng-change="timeChange()" required>
    </div>
    <button type="submit">Добавить</button>
    <h3 ng-show="master">{{master.name}} {{master.surname}} записи на {{noteDate()}}</h3>
    <div class="schedule">
      <table>
        <tr class="reg_note {{checkInter(mnotes.time)}}" ng-repeat="mnotes in getMasterNotes()">
          <td class="client">{{mnotes.client.name}}</td>
          <td>{{mnotes.service}}</td>
          <td class="time">{{timeOfDate(mnotes.time)}}</td>
        </tr>
      </table>
    </div>
  </form>
  <button class="newnote" ng-show="active" ng-click="newNote()">Новая запись</button>
</div>