extends layout

block content
  .navigation
    ul
      li
        a(href="/")
          i.ion-clipboard
          span Записи
      li
        a(href="#/clients")
          i.ion-ios7-people
          span Список клиентов
      li
        a(href="#/addclient")
          i.ion-ios7-personadd
          span Добавить клиента
      li
        a(href="#/addnote")
          i.ion-ios7-compose
          span Добавить запись
      li
        a(href="#/masters")
          i.ion-person-stalker
          span Список мастеров
      li
        a(href="#/addmaster")
          i.ion-ios7-contact-outline
          span Добавить мастера
      li
        a(href="#")
          i.ion-log-in
          span Вход администратора
  .main
    .view(ng-view)
    .sidebar
      div.clock
        span Время: 
        span(clock)
      .calendar-container
        calendar(func="changeDate()")
      .client-list
        div.cl-header
          div.cl-header-title Ближайшие дни рождения:
        div.list
          ul
            li.client-card
              div.name Ким Рем
              div.info
                div.master Мастер: Ким Диана 
                div.account Накопительный счет: 1400 сом 
            li.client-card
              div.name Ким Рем
              div.info
                div.master Мастер: Ким Диана 
                div.account Накопительный счет: 1400 сом 
