@font-face {
  font-family: UniversalMI;
  src: url('fonts/UniverseMediumItalic.ttf');
  font-style: normal; }

html {
  height: 100%; }
  html body {
    color: black;
    background-color: #ebebeb;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    min-width: 1327px;
    min-height: 650px; }

.navigation {
  width: 100%;
  background-color: #ebebeb;
  display: block;
  padding: 10px 0 10px 0;
  -moz-box-shadow: 0 1px 1px black;
  -webkit-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black; }
  .navigation ul {
    margin: 0;
    list-style: none;
    width: 100%;
    display: table; }
    .navigation ul a {
      text-decoration: none; }
    .navigation ul li {
      display: inline-block;
      font-size: 1.1em;
      text-align: center;
      width: auto;
      display: table-cell; }
      .navigation ul li i {
        font-size: 50px; }
      .navigation ul li span {
        display: block; }

.red {
  background-color: #ca1818; }

button {
  float: right;
  border: none;
  background-color: #1d49c6;
  color: white;
  padding: 7px 10px 7px 10px;
  margin: 10px 0 0 5px !important; }

button:active {
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black; }

.main {
  height: 100%;
  border-top: 1px solid #4c4c4c;
  -moz-box-shadow: 2px 2px 2px 0 black;
  -webkit-box-shadow: 2px 2px 2px 0 black;
  box-shadow: 2px 2px 2px 0 black; }
  .main .sidebar {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    height: 100%;
    -moz-box-shadow: -1px 0 1px black;
    -webkit-box-shadow: -1px 0 1px black;
    box-shadow: -1px 0 1px black; }
    .main .sidebar .clock {
      color: white;
      text-align: center;
      font-size: 1.1em;
      background-color: #628dd3; }
    .main .sidebar .calendar-container {
      background-color: #628dd3;
      margin: 0 auto 0 auto;
      height: 35%; }
      .main .sidebar .calendar-container #datepicker {
        height: 90%; }
        .main .sidebar .calendar-container #datepicker .ui-datepicker {
          height: 100%; }
          .main .sidebar .calendar-container #datepicker .ui-datepicker table {
            height: 100%; }
      .main .sidebar .calendar-container .selected-date {
        color: white;
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center; }
    .main .sidebar .client-list {
      background-color: #ebebeb;
      border-top: 1px solid #c7b4b4;
      border-left: 1px solid #c7b4b4;
      border-right: 1px solid #c7b4b4;
      height: 65%; }
      .main .sidebar .client-list .cl-header {
        -moz-box-shadow: 0 1px 2px black;
        -webkit-box-shadow: 0 1px 2px black;
        box-shadow: 0 1px 2px black;
        padding: 7px 10px 7px 10px;
        font-size: 1.2em; }
        .main .sidebar .client-list .cl-header div {
          display: inline-block; }
      .main .sidebar .client-list .list {
        overflow: auto;
        height: inherit; }
        .main .sidebar .client-list .list ul {
          padding: 0;
          list-style: none; }
          .main .sidebar .client-list .list ul .client-card {
            padding: 0 0 0 10px;
            border-bottom: 1px solid #3f3c3c; }
            .main .sidebar .client-list .list ul .client-card .name {
              display: inline;
              font-size: 1.5em; }
            .main .sidebar .client-list .list ul .client-card .info div {
              display: inline-block; }
            .main .sidebar .client-list .list ul .client-card .info .account {
              float: right;
              margin-right: 20px; }
  .main .view {
    display: inline-block;
    width: 80%;
    height: 100%; }
    .main .view .search {
      text-align: center;
      padding: 10px 0 10px 0;
      font-size: 1.4em; }
      .main .view .search input {
        padding: 3px 5px 3px 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 2px black;
        -webkit-box-shadow: 0 0 2px black;
        box-shadow: 0 0 2px black;
        border: none; }
      .main .view .search input:focus {
        outline: none;
        -moz-box-shadow: inset 0 0 5px 1px #2a759e;
        -webkit-box-shadow: inset 0 0 5px 1px #2a759e;
        box-shadow: inset 0 0 5px 1px #2a759e; }
    .main .view .registration-list {
      height: 100%; }
      .main .view .registration-list .table {
        height: 100%;
        margin: 1px auto 0 auto; }
        .main .view .registration-list .table .num {
          width: 3%; }
        .main .view .registration-list .table .client {
          width: 25%; }
        .main .view .registration-list .table .type {
          width: 20%; }
        .main .view .registration-list .table .master {
          width: 30%; }
        .main .view .registration-list .table .time {
          width: 17%; }
        .main .view .registration-list .table .name {
          width: 15%; }
        .main .view .registration-list .table .phone {
          width: 25%;
          text-align: center; }
        .main .view .registration-list .table .discount {
          width: 10%;
          text-align: center; }
        .main .view .registration-list .table .savings {
          width: 17%;
          text-align: center; }
        .main .view .registration-list .table .note-complete i {
          float: right;
          padding-right: 10px;
          font-size: 1.1em;
          color: green; }
        .main .view .registration-list .table .list-controls {
          font-size: 18px;
          float: right; }
          .main .view .registration-list .table .list-controls i {
            cursor: pointer; }
          .main .view .registration-list .table .list-controls i:hover {
            color: #799ade; }
        .main .view .registration-list .table table {
          width: 100%;
          padding: 0;
          margin: 0;
          font-size: 1.1em; }
          .main .view .registration-list .table table .table-controls {
            height: 40px;
            background: -webkit-linear-gradient(top, #cccccc 1%, #e6e6e6 48%, #cccccc 99%);
            background: -moz-linear-gradient(top, #cccccc 1%, #e6e6e6 48%, #cccccc 99%);
            background: -o-linear-gradient(top, #cccccc 1%, #e6e6e6 48%, #cccccc 99%);
            background: -ms-linear-gradient(top, #cccccc 1%, #e6e6e6 48%, #cccccc 99%);
            background: -linear-gradient(top, #cccccc 1%, #e6e6e6 48%, #cccccc 99%); }
            .main .view .registration-list .table table .table-controls th {
              border-left: 1px solid #afafaf; }
            .main .view .registration-list .table table .table-controls th:first-child {
              border-left: none; }
        .main .view .registration-list .table .inner-table {
          height: 70%;
          overflow-y: auto; }
          .main .view .registration-list .table .inner-table table .link {
            cursor: pointer; }
          .main .view .registration-list .table .inner-table table .entry {
            border-bottom: 1px solid #c2c2c2; }
            .main .view .registration-list .table .inner-table table .entry .entry-controls {
              float: right; }
              .main .view .registration-list .table .inner-table table .entry .entry-controls i {
                font-size: 21px;
                opacity: 0;
                -webkit-transition: opacity 300ms ease;
                -moz-transition: opacity 300ms ease;
                -ms-transition: opacity 300ms ease;
                -o-transition: opacity 300ms ease;
                transition: opacity 300ms ease;
                cursor: pointer;
                margin-right: 10px;
                color: #9c9c9c; }
              .main .view .registration-list .table .inner-table table .entry .entry-controls a {
                color: #9c9c9c; }
          .main .view .registration-list .table .inner-table table .true {
            background-color: #d1d2ca; }
          .main .view .registration-list .table .inner-table table .entry:hover {
            background-color: #b1b1b1;
            -webkit-transition: background-color 300ms ease;
            -moz-transition: background-color 300ms ease;
            -ms-transition: background-color 300ms ease;
            -o-transition: background-color 300ms ease;
            transition: background-color 300ms ease;
            color: white; }
            .main .view .registration-list .table .inner-table table .entry:hover .entry-controls i {
              opacity: 1;
              -webkit-transition: opacity 300ms ease;
              -moz-transition: opacity 300ms ease;
              -ms-transition: opacity 300ms ease;
              -o-transition: opacity 300ms ease;
              transition: opacity 300ms ease;
              color: white; }
            .main .view .registration-list .table .inner-table table .entry:hover .entry-controls a {
              opacity: 1;
              -webkit-transition: opacity 300ms ease;
              -moz-transition: opacity 300ms ease;
              -ms-transition: opacity 300ms ease;
              -o-transition: opacity 300ms ease;
              transition: opacity 300ms ease;
              color: white; }
            .main .view .registration-list .table .inner-table table .entry:hover .entry-controls i:hover {
              color: #77a8de; }
            .main .view .registration-list .table .inner-table table .entry:hover .entry-controls a:hover {
              color: #77a8de; }
    .main .view .add-client-form {
      padding: 10px 10px 10px 10px;
      height: 85%;
      width: 100%;
      overflow: auto; }
      .main .view .add-client-form .client-card {
        vertical-align: top;
        display: inline-block;
        width: 50%;
        min-height: 80%;
        background-color: white;
        -moz-box-shadow: 0 0 10px black;
        -webkit-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        border-radius: 12px;
        padding: 20px 10px 10px 20px; }
        .main .view .add-client-form .client-card .fio {
          font-size: 1.4em;
          font-weight: bold; }
        .main .view .add-client-form .client-card .birthday {
          font-size: 0.8em;
          margin: 0 0 10px 0; }
        .main .view .add-client-form .client-card .email {
          color: #427add; }
        .main .view .add-client-form .client-card ul {
          list-style: none;
          padding: 0 0 0 5px; }
        .main .view .add-client-form .client-card fieldset {
          padding-top: 5px; }
          .main .view .add-client-form .client-card fieldset legend {
            margin: 5px 0 5px 0;
            color: #664e00; }
      .main .view .add-client-form .input-form {
        margin-left: 5%;
        display: inline-block;
        width: 40%;
        min-height: 70%;
        text-align: left;
        padding: 20px 10px 0 10px;
        font-size: 1.1em; }
        .main .view .add-client-form .input-form .info {
          font-size: 0.8em;
          text-align: right;
          margin: 0 0 10px 0;
          color: #d27373; }
        .main .view .add-client-form .input-form .input-field i {
          cursor: pointer;
          margin: 0 0 0 10px; }
        .main .view .add-client-form .input-form .input-field i:hover {
          color: #77a8de; }
        .main .view .add-client-form .input-form .input-field .info-line td {
          padding-bottom: 0; }
        .main .view .add-client-form .input-form ul {
          list-style: none;
          padding: 0 0 0 5px;
          margin: 0 auto 0 auto; }
          .main .view .add-client-form .input-form ul li {
            margin: 5px 0 0 0;
            padding: 5px 5px 5px 10px; }
            .main .view .add-client-form .input-form ul li i {
              float: right;
              margin: 3px 0 0 0; }
          .main .view .add-client-form .input-form ul li:hover {
            background-color: #6b6b6b;
            color: white; }
        .main .view .add-client-form .input-form table {
          width: 100%; }
          .main .view .add-client-form .input-form table tr td {
            padding: 0 0 10px 0; }
            .main .view .add-client-form .input-form table tr td input {
              width: 100%;
              border: none;
              border-bottom: 1px solid black;
              outline: none;
              background: transparent;
              padding: 0 0 0 5px; }
      .main .view .add-client-form .service {
        margin: 10px 0 0 0; }
        .main .view .add-client-form .service table {
          margin: 10px 0 0 0; }
        .main .view .add-client-form .service input {
          padding: 2px 3px 2px 3px; }
        .main .view .add-client-form .service input:focus {
          outline: none;
          border-bottom: 1px solid #4aaac0; }
        .main .view .add-client-form .service .addserivce {
          float: right;
          cursor: pointer;
          color: #5d94c1; }
        .main .view .add-client-form .service .addserivce:hover {
          color: #3370a2; }
        .main .view .add-client-form .service li {
          cursor: pointer; }
    .main .view .note-form {
      width: 100%;
      height: 80%;
      padding: 10px 10px 0 10px; }
      .main .view .note-form .header-date {
        font-size: 1.3em;
        width: 80%;
        margin: 0 auto 0 auto; }
      .main .view .note-form .registration {
        width: 80%;
        margin: 30px auto 0 auto;
        background-color: white;
        padding: 5px 10px 5px 10px;
        -moz-box-shadow: 0 0 7px black;
        -webkit-box-shadow: 0 0 7px black;
        box-shadow: 0 0 7px black; }
        .main .view .note-form .registration table {
          width: 100%; }
      .main .view .note-form .input-form {
        width: 80%;
        min-height: 20%;
        max-height: 80%;
        overflow: auto;
        margin: 30px auto 0 auto;
        background-color: white;
        padding: 5px 10px 5px 10px;
        -moz-box-shadow: 0 0 7px black;
        -webkit-box-shadow: 0 0 7px black;
        box-shadow: 0 0 7px black;
        border: 1px solid black;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        min-height: 250px; }
        .main .view .note-form .input-form .pick-client, .main .view .note-form .input-form .pick-service, .main .view .note-form .input-form .pick-master {
          display: inline-block;
          vertical-align: top;
          margin-right: 20px; }
        .main .view .note-form .input-form .search-client {
          height: 30%; }
        .main .view .note-form .input-form i {
          margin-left: 10px; }
        .main .view .note-form .input-form i:hover {
          color: #799ade;
          cursor: pointer; }
        .main .view .note-form .input-form .list {
          margin: 10px 0 10px 0;
          min-height: 0px;
          max-height: 150px;
          overflow: auto; }
          .main .view .note-form .input-form .list ul {
            list-style: none;
            padding: 1px; }
            .main .view .note-form .input-form .list ul li {
              padding: 3px 5px 3px 5px;
              outline: 1px solid #5a5a5a;
              display: block;
              cursor: pointer;
              margin: 2px 0 2px 0; }
            .main .view .note-form .input-form .list ul li:hover {
              background-color: #b2b0b0;
              color: white; }

.schedule {
  vertical-align: top; }
  .schedule table {
    width: 75%;
    margin: 5px 10px 20px 0; }
    .schedule table .reg_note {
      height: 44px;
      border: 1px solid black;
      font-size: 1.3em;
      margin: 2px 0 2px 0;
      padding: 7px 10px 7px 10px;
      background-color: #e7e7e7; }
      .schedule table .reg_note .client {
        padding-left: 20px;
        width: 60%; }
      .schedule table .reg_note .time {
        text-align: right;
        padding-right: 20px; }
    .schedule table .intersection {
      background-color: #e34e4e;
      color: white; }
    .schedule table .highlight {
      background-color: #33be53;
      color: white; }

.added {
  color: green;
  float: right;
  font-size: 3em; }

.red-icon {
  color: red; }

@media only screen and (max-width: 1366px) {
  .main .sidebar {
    width: 30%; }
  .main .view {
    width: 70%; } }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #overlay .account-form {
    clear: both;
    background-color: #f7f7f4;
    display: block;
    width: 50%;
    padding: 0 10px 15px 10px;
    margin: 150px auto 0 auto;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px; }
    #overlay .account-form details {
      cursor: pointer;
      outline: none; }
    #overlay .account-form details:active {
      outline: none; }
    #overlay .account-form details:focus {
      outline: none; }
    #overlay .account-form .closeform {
      position: relative;
      left: 99%;
      top: -5px;
      font-size: 1.8em;
      background-color: white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer; }

.view-controls {
  display: inline-block;
  padding: 10px; }
  .view-controls .dates {
    display: inline-block;
    font-size: 1.1em;
    text-align: center; }
  .view-controls .ion-ios7-search-strong {
    font-size: 1.4em;
    cursor: pointer; }
  .view-controls .ion-ios7-search-strong:hover {
    font-weight: bold; }

/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */
.toggle {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

.toggle.ng-enter {
  opacity: 0; }

.toggle.ng-enter-active {
  opacity: 1; }

.toggle.ng-leave {
  opacity: 1; }

.toggle.ng-leave-active {
  opacity: 0; }

.slide-right, .slide-left, .slide-top, .slide-down {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* ------------------------------------------- */
/* Slide Top 
/* ------------------------------------------- */
.slide-top.ng-enter {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0; }

.slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.slide-top.ng-leave-active {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0; }

/* ------------------------------------------- */
/* Slide Rigth 
/* ------------------------------------------- */
.slide-right.ng-enter {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0; }

.slide-right.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.slide-right.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.slide-right.ng-leave-active {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0; }

/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */
.slide-left.ng-enter {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0; }

.slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.slide-left.ng-leave-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0; }

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
.slide-down.ng-enter {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0; }

.slide-down.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.slide-down.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.slide-down.ng-leave-active {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0; }

.bouncy-slide-right, .bouncy-slide-left, .bouncy-slide-top, .bouncy-slide-down {
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */
.bouncy-slide-top.ng-enter {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0; }

.bouncy-slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.bouncy-slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.bouncy-slide-top.ng-leave-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Slide Rigth 
/* ------------------------------------------- */
.bouncy-slide-right.ng-enter {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0; }

.bouncy-slide-right.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.bouncy-slide-right.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.bouncy-slide-right.ng-leave-active {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Slide Left 
/* ------------------------------------------- */
.bouncy-slide-left.ng-enter {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0; }

.bouncy-slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.bouncy-slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

.bouncy-slide-left.ng-leave-active {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
.bouncy-slide-down.ng-enter {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0; }

.bouncy-slide-down.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.bouncy-slide-down.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

.bouncy-slide-down.ng-leave-active {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */
.scale-fade {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

.scale-fade.ng-enter {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0; }

.scale-fade.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

.scale-fade.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

.scale-fade.ng-leave-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0; }

/* ------------------------------------------- */
/* Spin Fade 
/* ------------------------------------------- */
.spin-toggle {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

.spin-toggle.ng-enter {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  opacity: 0; }

.spin-toggle.ng-enter-active {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1; }

.spin-toggle.ng-leave {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1; }

.spin-toggle.ng-leave-active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  opacity: 0; }

/* ------------------------------------------- */
/* Scale in Fade 
/* ------------------------------------------- */
.scale-fade-in {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

.scale-fade-in.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

.scale-fade-in.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

.scale-fade-in.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

.scale-fade-in.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Scale in Fade 
/* ------------------------------------------- */
.bouncy-scale-in {
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

.bouncy-scale-in.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

.bouncy-scale-in.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

.bouncy-scale-in.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

.bouncy-scale-in.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */
.flip-in {
  -webkit-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

.flip-in.ng-enter {
  transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  -webkit-transform: perspective(300px) rotateX(90deg);
  opacity: 0.7; }

.flip-in.ng-enter-active {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1; }

.flip-in.ng-leave {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1; }

.flip-in.ng-leave-active {
  transform: perspective(300px) rotateX(135deg);
  -ms-transform: perspective(300px) rotateX(135deg);
  -webkit-transform: perspective(300px) rotateX(135deg);
  opacity: 0.7; }

/* ------------------------------------------- */
/* Rotate In 
/* ------------------------------------------- */
.rotate-in {
  -webkit-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

.rotate-in.ng-enter {
  transform: perspective(300px) rotateY(40deg);
  -ms-transform: perspective(300px) rotateY(40deg);
  -webkit-transform: perspective(300px) rotateY(40deg);
  opacity: 0.7; }

.rotate-in.ng-enter-active {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1; }

.rotate-in.ng-leave {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1; }

.rotate-in.ng-leave-active {
  transform: perspective(300px) rotateY(-40deg);
  -ms-transform: perspective(300px) rotateY(-40deg);
  -webkit-transform: perspective(300px) rotateY(-40deg);
  opacity: 0.7; }
