@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($properties){
  -moz-box-shadow:    $properties;
  -webkit-box-shadow: $properties;
  box-shadow:         $properties;
}
@mixin transition($property){
  -webkit-transition: $property;
     -moz-transition: $property;
      -ms-transition: $property;
       -o-transition: $property;
          transition: $property;
}
@font-face{
  font-family: UniversalMI;
  src: url('fonts/UniverseMediumItalic.ttf');
  font-style: normal;
}
html{
  body{
  	color: black;
    // background-image: url(../images/background2.jpg);   // <- blue
    // background-image: url(../images/background.jpg);  //<- orange
    background-color: #EBEBEB;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    min-width: 1327px;
    min-height: 650px;
  }
  height: 100%;
}
.navigation{
  width: 100%;
  background-color: #EBEBEB;
  display: block;
  padding: 10px 0 10px 0;
  @include box-shadow(0 1px 1px #000000);
  ul{
    margin: 0;
    list-style: none;
    width: 100%;
    display: table;
    a{
      text-decoration: none;
    }
    li{
      display: inline-block;
      font-size: 1.1em;
      text-align: center;
      width: auto;
      display: table-cell;
      i{
        font-size: 50px;
      }
      span{
        display: block;
      }
    }
  }
}
.red{
  background-color: #CA1818;
}
button{
  float: right;
  border: none;
  background-color: #1D49C6;
  color: #fff;
  padding: 7px 10px 7px 10px;
  margin: 10px 0 0 5px !important;
}
button:active{
  @include box-shadow(inset 0 0 10px #000000);
}
.main{
  height: 100%;
  border-top: 1px solid #4C4C4C;
  @include box-shadow(2px 2px 2px 0 #000000);
  .sidebar{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    height: 100%;
    .clock{
      color: #FFFFFF;
      text-align: center;
      font-size: 1.1em;
      background-color: #628DD3;
    }
    @include box-shadow(-1px 0 1px #000000);
    .calendar-container{
      background-color: #628DD3;    //<- blue
      // background-color: #E48148; //<- orange
      margin: 0 auto 0 auto;
      // border: 1px solid #4C4C4C;
      height: 35%;
      // @include border-radius(5px);

      #datepicker{
        height: 90%;
        .ui-datepicker{
          height: 100%;
          table{
            height: 100%;
          }
        }
      }
      .selected-date{
        color: #fff;
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
      }
    }
    .client-list{
      background-color: #EBEBEB;
      border-top: 1px solid #C7B4B4;
      border-left: 1px solid #C7B4B4;
      border-right: 1px solid #C7B4B4;
      height: 65%;
      .cl-header{
        @include box-shadow(0 1px 2px #000000);
        padding: 7px 10px 7px 10px;
        font-size: 1.2em;
        div{
          display: inline-block;
        }
      }
      .list{
        overflow: auto;
        height: inherit;
        ul{
          padding: 0;
          list-style: none;
          .client-card{
            padding: 0 0 0 10px;
            border-bottom: 1px solid #3F3C3C;
            .name{
              display: inline;
              font-size: 1.5em;
            }
            .info{
              div{
                display: inline-block;
              }
              .account{
                float: right;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
  .view{
    display: inline-block;
    width: 80%;
    height: 100%;
    .search{
      text-align: center;
      padding: 10px 0 10px 0;
      font-size: 1.4em;
      input{
        padding: 3px 5px 3px 5px;
        @include border-radius(5px);
        @include box-shadow(0 0 2px #000000);
        border: none;
      }
      input:focus{
        outline:none;
        @include box-shadow(inset 0 0 5px 1px #2A759E);
      }
    }
    .registration-list{
      height: 100%;
      .table{
        height: 100%;
        margin: 1px auto 0 auto;
        .num{
          width: 3%;
        }
        .client{
          width: 25%;
        }
        .type{
          width: 20%;
        }
        .master{
          width: 30%;
        }
        .time{
          width: 17%;
        }
        .name{
          width: 15%;
        }
        .phone{
          width: 25%;
          text-align: center;
        }
        .discount{
          width: 10%;
          text-align: center;
        }
        .savings{
          width: 17%;
          text-align: center;
        }
        .list-controls{
          font-size: 18px;
          float: right;
          i{
            cursor: pointer;
          }
          i:hover{
            color: #799ADE;
          }
        }
        table{
          width: 100%;
          padding: 0;
          margin: 0;
          font-size: 1.1em;
          .table-controls{
            height: 40px;
            background : -webkit-linear-gradient(top, rgb(204, 204, 204) 01%, rgb(230, 230, 230) 48%, rgb(204, 204, 204) 99%);
            background : -moz-linear-gradient(top, rgb(204, 204, 204) 01%, rgb(230, 230, 230) 48%, rgb(204, 204, 204) 99%);
            background : -o-linear-gradient(top, rgb(204, 204, 204) 01%, rgb(230, 230, 230) 48%, rgb(204, 204, 204) 99%);
            background : -ms-linear-gradient(top, rgb(204, 204, 204) 01%, rgb(230, 230, 230) 48%, rgb(204, 204, 204) 99%); 
            background : -linear-gradient(top, rgb(204, 204, 204) 01%, rgb(230, 230, 230) 48%, rgb(204, 204, 204) 99%);
            th{
              border-left: 1px solid #AFAFAF;
            }
            th:first-child{
              border-left: none;
            }
          }
               
        }
         .inner-table{
          // height: 100% - 7%;
          height: 70%;
          overflow-y: auto;
          table{
            .link{
              cursor: pointer;
            }
            .entry{
              border-bottom: 1px solid #C2C2C2;
              .entry-controls{
                float: right;
                i{
                  font-size: 21px;
                  opacity: 0;
                  @include transition(opacity 300ms ease);
                  cursor: pointer;
                  margin-right: 10px;
                  color: #9C9C9C;
                }
                a{
                  color: #9C9C9C; 
                }

              }
            }
            .true{
              background-color: #D1D2CA;
            }
            .entry:hover{
              background-color: #B1B1B1;
              @include transition(background-color 300ms ease); 
              color: #ffffff;
              .entry-controls{
                i{
                  opacity: 1;
                  @include transition(opacity 300ms ease);
                  color: #ffffff;
                }
                a{
                  opacity: 1;
                  @include transition(opacity 300ms ease); 
                  color: #ffffff;
                }
                i:hover{
                  color: #77A8DE;
                }
                a:hover{
                  color: #77A8DE; 
                }
              }
            }
          }
        }
      }
    }
    .add-client-form{
      padding: 10px 10px 10px 10px;
      height: 85%;
      width: 100%;
      overflow: auto;

      .client-card{
        vertical-align: top;
        display: inline-block;
        width: 50%;
        min-height: 80%;
        background-color: #fff;
        @include box-shadow(0 0 10px #000000);
        @include border-radius(12px);
        padding: 20px 10px 10px 20px;
        .fio{
          font-size: 1.4em;
          font-weight: bold;
        }
        .birthday{
          font-size: 0.8em;
          margin: 0 0 10px 0;
        }
        .email{
          color: #427ADD;
        }
        ul{
          list-style: none;
          padding: 0 0 0 5px;
        }
        fieldset{
          padding-top: 5px;
          legend{
            margin: 5px 0 5px 0;
            color: #664E00;
          }
        }
      }
      .input-form{
        margin-left: 5%;
        display: inline-block;
        width: 40%;
        min-height: 70%;
        // background-color: #fff;
        text-align: left;
        padding: 20px 10px 0 10px;
        font-size: 1.1em;
        
        .info{
          font-size: 0.8em;
          text-align: right;
          margin: 0 0 10px 0;
          color: #D27373;
        }
        .input-field{
          i{
            cursor:pointer;
            margin: 0 0 0 10px;
          }
          i:hover{
            color: #77A8DE;
          }
          .info-line{
            td{
              padding-bottom: 0;
            }
          }
        }
        ul{
          list-style: none;
          padding: 0 0 0 5px;
          margin: 0 auto 0 auto;
          li{
            margin: 5px 0 0 0 ;
            padding: 5px 5px 5px 10px;
            i{
              float: right;
              margin: 3px 0 0 0;
            }
          }
          li:hover{
            background-color: #6B6B6B;
            color: white;
          }
        }
        table{
          width: 100%;
          tr{
            td{
              padding: 0 0 10px 0;
              input{
                width: 100%;
                border: none;
                border-bottom: 1px solid #000000;
                outline: none;
                background: transparent;
                padding: 0 0 0 5px;
              }
            }
          }
        }
      }
      .service{
        margin: 10px 0 0 0;
        table{
          margin: 10px 0 0 0 ;
        }
        input{
          padding: 2px 3px 2px 3px;
        }
        input:focus{
          outline: none;
          border-bottom: 1px solid #4AAAC0;
        }
        .addserivce{
          float: right;
          cursor: pointer;
          color: #5D94C1;
        }
        .addserivce:hover{
          color: #3370A2; 
        }
        li{
          cursor: pointer;
        }
      }
    }
    .note-form{
      width: 100%;
      height: 80%;
      padding: 10px 10px 0 10px;
      .header-date{
        font-size: 1.3em;
        width: 80%;
        margin: 0 auto 0 auto;
      }
      .registration{
        width: 80%;
        margin: 30px auto 0 auto;
        background-color: #fff;
        padding: 5px 10px 5px 10px;
        @include box-shadow(0 0 7px #000000);
        table{
          width: 100%;
        }
      }
      .input-form{
        width: 80%;
        min-height: 20%;
        max-height: 80%;
        overflow: auto;
        margin: 30px auto 0 auto;
        background-color: #fff;
        padding: 5px 10px 5px 10px;
        @include box-shadow(0 0 7px #000000);
        border: 1px solid black;
        @include border-radius(6px);
        min-height: 250px;
        .pick-client, .pick-service, .pick-master{
          display: inline-block;
          vertical-align: top;
          margin-right: 20px;
        }
        .search-client{
          height: 30%;
        }
        i{
          margin-left: 10px;
        }
        i:hover{
          color: #799ADE;
          cursor: pointer;
        }
        .list{
          // border: 0px solid black;
          margin: 10px 0 10px 0;
          min-height: 0px;
          max-height: 150px;
          overflow: auto;
          // width: 160px;
          ul{
            list-style: none;
            padding: 1px;
            li{
              padding: 3px 5px 3px 5px;
              outline:1px solid #5A5A5A;
              display: block;
              cursor: pointer;
              margin: 2px 0 2px 0;
            }
            li:hover{
              background-color: #B2B0B0;
              color: white;
            }
          }
        }
      }
    }
  }
}
.schedule{
  // display: inline;
  vertical-align: top;
  table{
    width: 75%;
    margin: 5px 10px 20px 0;
    .reg_note{
      height: 44px;
      border: 1px solid #000000;
      font-size: 1.3em;
      margin: 2px 0 2px 0;
      padding: 7px 10px 7px 10px;
      background-color: #E7E7E7;
      .client{
        padding-left: 20px;
        width: 60%;
      }
      .time{
        text-align: right;
        padding-right: 20px;
      }
    }
    .intersection{
      background-color: #E34E4E;
      color: white;
    }
    .highlight{
      background-color: #33BE53;
      color: white; 
    }
  }
}
.added{
  color: green;
  float: right;
  font-size: 3em;
}
.red-icon{
  color: red;
}
@media only screen and (max-width: 1366px) {
  .main{
    .sidebar{
      width: 30%;
    }
    .view{
      width: 70%;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: gray; 
  z-index: 1000;
  .account-form{
    clear: both;
    background-color: #F7F7F4;
    display: block;
    width: 50%;
    padding: 0 10px 15px 10px;
    margin: 150px auto 0 auto;
    @include box-shadow(0 0 5px #000000);
    @include border-radius(7px);
    details{
      cursor: pointer;
      outline: none;
    }
    details:active{
      outline: none;
    }
    details:focus{
      outline: none;
    }
    .closeform{
      position: relative;
      left: 99%;
      top: -5px;
      font-size: 1.8em;
      background-color: #fff;
      @include border-radius(50%);
      cursor: pointer;
    }
  }
}




/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */

@mixin easingTimingFunction ($duration) {
  -webkit-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -ms-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -o-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin bouncyTimingFunction ($duration) {
  -webkit-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -moz-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
      -ms-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
       -o-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
          transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
     -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
      -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
       -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); /* custom */
}

@mixin easingOutQuadTimingFunction ($duration) {
  -webkit-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
     -moz-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      -ms-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
       -o-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
          transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
     -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
       -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
          transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin transform ($value) {
  transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
}

/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */

.toggle {
  @include easingTimingFunction(250ms);
}

.toggle.ng-enter {
  opacity: 0;
}

.toggle.ng-enter-active {
  opacity: 1; 
}

.toggle.ng-leave {
  opacity: 1;
}

.toggle.ng-leave-active {
  opacity: 0; 
}

.slide-right, .slide-left, .slide-top, .slide-down {
  @include easingTimingFunction(250ms);
}

/* ------------------------------------------- */
/* Slide Top 
/* ------------------------------------------- */

.slide-top.ng-enter {
  @include transform(translateY(60px)); 
  opacity: 0;
}

.slide-top.ng-enter-active {
  @include transform(translateY(0));
  opacity: 1; 
}

.slide-top.ng-leave {
  @include transform(translateY(0));
  opacity: 1;
}

.slide-top.ng-leave-active {
  @include transform(translateY(60px)); 
  opacity: 0; 
}


/* ------------------------------------------- */
/* Slide Rigth 
/* ------------------------------------------- */

.slide-right.ng-enter {
  @include transform(translateX(60px)); 
  opacity: 0;
}

.slide-right.ng-enter-active {
  @include transform(translateX(0));
  opacity: 1; 
}

.slide-right.ng-leave {
  @include transform(translateX(0));
  opacity: 1;
}

.slide-right.ng-leave-active {
  @include transform(translateX(60px)); 
  opacity: 0; 
}


/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */

.slide-left.ng-enter {
  @include transform(translateX(-60px));
  opacity: 0;
}

.slide-left.ng-enter-active {
  @include transform(translateX(0));
  opacity: 1; 
}

.slide-left.ng-leave {
  @include transform(translateX(0));
  opacity: 1;
}

.slide-left.ng-leave-active {
  @include transform(translateX(-60px));
  opacity: 0; 
}

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */

.slide-down.ng-enter {
  @include transform(translateY(-60px)); 
  opacity: 0;
}

.slide-down.ng-enter-active {
  @include transform(translateY(0));
  opacity: 1; 
}

.slide-down.ng-leave {
  @include transform(translateY(0));
  opacity: 1;
}

.slide-down.ng-leave-active {
  @include transform(translateY(-60px)); 
  opacity: 0; 
}


.bouncy-slide-right, .bouncy-slide-left, .bouncy-slide-top, .bouncy-slide-down {
  @include bouncyTimingFunction(450ms);
}

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */

.bouncy-slide-top.ng-enter {
  @include transform(translateY(240px));
  opacity: 0;
}

.bouncy-slide-top.ng-enter-active {
  @include transform(translateY(0));
  opacity: 1; 
}

.bouncy-slide-top.ng-leave {
  @include transform(translateY(0));
  opacity: 1;
}

.bouncy-slide-top.ng-leave-active {
  @include transform(translateY(240px)); 
  opacity: 0; 
}

/* ------------------------------------------- */
/* Bouncy Slide Rigth 
/* ------------------------------------------- */

.bouncy-slide-right.ng-enter {
  @include transform(translateX(240px)); 
  opacity: 0;
}

.bouncy-slide-right.ng-enter-active {
  @include transform(translateX(0));
  opacity: 1; 
}

.bouncy-slide-right.ng-leave {
  @include transform(translateX(0));
  opacity: 1;
}

.bouncy-slide-right.ng-leave-active {
  @include transform(translateX(240px));
  opacity: 0; 
}


/* ------------------------------------------- */
/* Bouncy Slide Left 
/* ------------------------------------------- */

.bouncy-slide-left.ng-enter {
  @include transform(translateX(-240px));
  opacity: 0; 
}

.bouncy-slide-left.ng-enter-active {
  @include transform(translateX(0));
  opacity: 1; 
}

.bouncy-slide-left.ng-leave {
  @include transform(translateX(0));
  opacity: 1;
}

.bouncy-slide-left.ng-leave-active {
  @include transform(translateX(-240px));
  opacity: 0; 
}

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */

.bouncy-slide-down.ng-enter {
  @include transform(translateY(-240px));
  opacity: 0;
}

.bouncy-slide-down.ng-enter-active {
  @include transform(translateY(0));
  opacity: 1; 
}

.bouncy-slide-down.ng-leave {
  @include transform(translateY(0));
  opacity: 1;
}

.bouncy-slide-down.ng-leave-active {
  @include transform(translateY(-240px));
  opacity: 0; 
}



/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */

.scale-fade {
  @include easingTimingFunction(250ms);
}

.scale-fade.ng-enter {
  @include transform(scale(0.7));
  opacity: 0;
}

.scale-fade.ng-enter-active {
  @include transform(scale(1));
  opacity: 1; 
}

.scale-fade.ng-leave {
  @include transform(scale(1));
  opacity: 1;
}

.scale-fade.ng-leave-active {
  @include transform(scale(0.7)); 
  opacity: 0; 
}

/* ------------------------------------------- */
/* Spin Fade 
/* ------------------------------------------- */

.spin-toggle {
  @include easingTimingFunction(250ms);
}

.spin-toggle.ng-enter {
  @include transform(rotate(225deg));
  opacity: 0;
}

.spin-toggle.ng-enter-active {
  @include transform(rotate(0deg));
  opacity: 1; 
}

.spin-toggle.ng-leave {
  @include transform(rotate(0deg));
  opacity: 1;
}

.spin-toggle.ng-leave-active {
  @include transform(rotate(90deg)); 
  opacity: 0; 
}


/* ------------------------------------------- */
/* Scale in Fade 
/* ------------------------------------------- */

.scale-fade-in {
  @include easingOutQuadTimingFunction(250ms);
}

.scale-fade-in.ng-enter {
  @include transform(scale(3));
  opacity: 0;
}

.scale-fade-in.ng-enter-active {
  @include transform(scale(1));
  opacity: 1; 
}

.scale-fade-in.ng-leave {
  @include transform(scale(1));
  opacity: 1;
}

.scale-fade-in.ng-leave-active {
  @include transform(scale(3));
  opacity: 0; 
}


/* ------------------------------------------- */
/* Bouncy Scale in Fade 
/* ------------------------------------------- */

.bouncy-scale-in {
  @include bouncyTimingFunction(450ms);
}

.bouncy-scale-in.ng-enter {
  @include transform(scale(3));
  opacity: 0;
}

.bouncy-scale-in.ng-enter-active {
  @include transform(scale(1));
  opacity: 1; 
}

.bouncy-scale-in.ng-leave {
  @include transform(scale(1));
  opacity: 1;
}

.bouncy-scale-in.ng-leave-active {
  @include transform(scale(3));
  opacity: 0; 
}


/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */

.flip-in {
  @include easingTimingFunction(550ms);
}

.flip-in.ng-enter {
  @include transform(perspective(300px) rotateX(90deg));
  opacity: 0.7;
}

.flip-in.ng-enter-active {
  @include transform(perspective(300px) rotateX(0deg));
  opacity: 1; 
}

.flip-in.ng-leave {
  @include transform(perspective(300px) rotateX(0deg));
  opacity: 1;
}

.flip-in.ng-leave-active {
  @include transform(perspective(300px) rotateX(135deg)); 
  opacity: 0.7; 
}

/* ------------------------------------------- */
/* Rotate In 
/* ------------------------------------------- */

.rotate-in {
  @include bouncyTimingFunction(550ms);
}

.rotate-in.ng-enter {
  @include transform(perspective(300px) rotateY(40deg));
  opacity: 0.7;
}

.rotate-in.ng-enter-active {
  @include transform(perspective(300px) rotateY(0deg));
  opacity: 1; 
}

.rotate-in.ng-leave {
  @include transform(perspective(300px) rotateY(0deg));
  opacity: 1;
}

.rotate-in.ng-leave-active {
  @include transform(perspective(300px) rotateY(-40deg)); 
  opacity: 0.7; 
}
